[submodule "src/known-folders"]
	path = src/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "src/tracy"]
	path = src/tracy
	url = https://github.com/wolfpld/tracy
[submodule "src/zig-lsp"]
	path = src/zig-lsp
	url = https://github.com/ziglibs/zig-lsp
