name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: mlugg/setup-zig@v1
        with:
          version: master

      - name: Run zig fmt
        if: matrix.os == 'ubuntu-latest'
        run: zig fmt --check .

      - name: Run Tests
        run: zig build test --summary all
