name: CI

on:
  push:
    paths:
    - '**.zig'
  pull_request:
    paths:
    - '**.zig'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: master

      - name: Build
        run: zig build

      # ZLS Tests currently fail? Once they are passing and kept up to date, this can be enabled
      # - name: Run Tests
      #   run: zig build test
