name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Run zig fmt
        if: matrix.os == 'ubuntu-22.04'
        run: zig fmt --check .

      - name: Run zig build check test
        run: zig build check test --summary all

      - name: Setup wasmtime
        if: matrix.os == 'ubuntu-22.04'
        uses: bytecodealliance/actions/wasmtime/setup@v1

      - name: Run zig build check test -Dtarget=wasm32-
        if: matrix.os == 'ubuntu-22.04'
        run: zig build check test -Dtarget=wasm32-wasi -fwasmtime --summary all
