name: CI

on:
  push:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    if: github.repository_owner == 'zigtools'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: "true"

      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: master

      - run: zig env

      - name: Run zig fmt
        run: zig fmt --check .

      - name: Run Tests
        run: zig build test --summary all
