name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Run zig fmt
        if: matrix.os == 'ubuntu-22.04'
        run: zig fmt --check .

      - name: prefetch dependencies (workaround)
        run: |
          zig fetch https://github.com/ziglibs/known-folders/archive/bafef170a73c064dc706fcfbdc2e406a35681a9c.tar.gz
          zig fetch https://github.com/ziglibs/diffz/archive/36fc805f459677093c93c210e8f9aed28be13847.tar.gz
          zig fetch https://github.com/zigtools/lsp-kit/archive/c46ac866dda11ab58e4ba71ed0d8ba21f43e81db.tar.gz

      - name: Run zig build check test
        run: zig build check test --summary all

      - name: Setup wasmtime
        if: matrix.os == 'ubuntu-22.04'
        uses: bytecodealliance/actions/wasmtime/setup@v1

      - name: Run zig build check test -Dtarget=wasm32-
        if: matrix.os == 'ubuntu-22.04'
        run: zig build check test -Dtarget=wasm32-wasi -fwasmtime --summary all
